// Variablen Backgroundcolor
$bgc-light: #fff;
$bgc-dark: #000;

// Variablen FontSizes
$fz-small: 1.6rem;
$fz-medium: 3.2rem;
$fz-large: 6.4rem;
$fz-extra-large: 8.8rem;
$fz-button: 2rem;

// Variablen Font-Colors
$fc-light:  rgba(255, 255, 255, 1);
$fc-dark: rgba(0, 0, 0, 1);

// Variablen FontFamily's
$ff-1: "WorkSans", WorkSans;
$ff-2: "Lora", Lora;





